.cart {
    min-height: calc(100vh - 200px);

    .cart__list {
        padding      : 10px;
        box-shadow   : 0 0 10px #ccc;
        border-radius: 10px;

        .cart__item {
            display    : flex;
            align-items: center;
            align-items: center;
            padding    : 10px;
            gap        : 10px;

            .cart__item-img {
                height  : 80px;
                width   : 80px;
                overflow: hidden;

                img {
                    height: 100%;
                    width : 100%;
                }
            }

            .cart__item-desc {
                flex: 2
            }

            .buttons__quantity {
                display: flex;
                border : 1px solid #dbdbdb;
                width  : 150px;

                .cart__btn {
                    padding         : 14px;
                    background-color: #ccc;
                    cursor          : pointer;
                }

                .quantity {
                    flex           : 1;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;

                    width: 50px;
                }
            }

            .sumPrice {
                flex: 1;
            }

            .cart__remove {
                font-size : 20px;
                cursor    : pointer;
                transform : scale(1);
                transition: all .2s linear;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .cart__navbar {
        h3 {
            padding: 30px 0;
        }
    }

    button {
        margin          : 30px 0;
        padding         : 10px;
        border          : none;
        background-color: #e06b35;
        color           : #fff;
        font-size       : 20px;
        cursor          : pointer;
        transition      : li;
    }
}